<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Beryl I Responsive Coming Soon Template</title>
		<meta name="description" content="Beryl is a responsive HTML5 coming soon template by Hencework." />
		<meta name="keywords" content="Beryl, Responsive Coming Soon Template, Under Construction Template, Responsive Template, HTML5 Template, themeforest.net, Bootstrap, HTML5, Creative, Landing Page, Sass, Clean, Design, Modern, Angular js, MailChimp Subscription," />
		<meta name="author" content="Hencework" />
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	
	<body data-ng-app="contactApp" class="iblue">
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Splitlayout -->
		<div id="splitlayout" class="splitlayout reset-layout">
			
			<!--Intro-->
			<div class="intro">
				
				<!--Left Content Intro-->
				<div class="side side-left">
					
					<!--Particles Container-->
					<div id="particles-js"></div>
					<!--/Particles Container-->
					
					<!--Main Content-->
					<section class="col-lg-12 content-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">
						
						<!--Logo-->
						<img class="logo" src="img/logo-grey.png" alt="logo"/>
						<!--/Logo-->
						
						<div class="table-wrap">
							<div class="tablecell">
								<!--Counter-->
								<h5>
									<span id="countdown">
										<span class="days-wrap">
										   <span class="days">00</span>
										   <span>dias</span>
										</span>
										<span>Antes del lanzamiento</span>
									</span>
								</h5>	
								<!--/Counter-->
								
								<!--Ticker-->
								<div class="tlt">
									<ul  class="texts">
										<li data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
											Mantente atento 
										</li>
										<li  data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
											Sé paciente
										</li>
										<li  data-in-effect="bounceIn" data-out-effect="fadeOut" data-in-shuffle="true" data-out-shuffle="true">
											Volveremos pronto
										</li>
									</ul>
								</div>
								<!--/Ticker-->
								
								<p class="lead col-md-9 col-xs-12 margin-top-10 padding-zero">Estamos trabajando en el desarrollo de soluciones innovadoras para pequeñas y medianas empresas. Suscríbete para ser el primero en enterarte cuando lancemos nuestro sitio web.</p>
								
								<div class="clearfix"></div>
								
								<!--Notify Button-->
								<span class="btn btn-default alternate-bg md-trigger margin-top-35" data-modal="modal-2">
									<span class="mask"></span>
									<span class="btn-label">
										<b>Notificarme</b>
									</span>
								</span>
								<!--/Notify Button-->
								
							</div>	
						</div>
						
						<!--Social Icons Wrap-->
						<div class="social-icons-wrap">
							<ul class="social-icons">
								<li>
									<a href="" class="social-icon">
										<i class="fa fa-facebook"></i>
									</a>
								</li>
								<li>
									<a href="" class="social-icon">
										<i class="fa fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="" class="social-icon">
										<i class="fa fa-linkedin"></i>
									</a>
								</li>
								<li>
									<a href="" class="social-icon">
										<i class="fa fa-behance"></i>
									</a>
								</li>
							</ul>
						</div>
						<!--/Social Icons Wrap-->
						
						<div class="clearfix"></div>
						
					</section>
					<!--/Main Content-->
									
					<div class="side-left-overlay"></div>
				</div>
				<!--/Left Content Intro-->
				
				<!--Right Content Intro-->
				<div class="side side-right">
					<section class="about-info col-lg-12 padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">
						<div class="table-wrap">
							<div class="tablecell">
								<h2>Desarrollamos soluciones tecnológicas para el éxito de las PYMEs.</h2>
								<p class="margin-bottom-25">En Actulisat, nos enfocamos en ofrecer soluciones de software efectivas que ayuden a las pequeñas y medianas empresas a optimizar sus procesos administrativos y contables. Alineamos sus objetivos a mediano y largo plazo con herramientas tecnológicas modernas.</p>								
								<span id="goto_about" class="btn btn-default margin-top-25">
									<span class="mask"></span>
									<span class="btn-label">
										<b>Más información</b>
									</span>
								</span>
								<span id="goto_contact" class="btn btn-default alternate-bg margin-top-25">
									<span class="mask"></span>
									<span class="btn-label">
										<b>Contacta con nosotros</b>
									</span>
								</span>
							</div>
						</div>	
					</section>
					<div class="copyright-text">
						<p>Fabricated by Hencework &copy; 2016</p>
					</div>
					
				</div>
				<!--/Right Content Intro-->
			</div>
			<!--/Intro-->
			
			<!--About Section-->
			<div class="page page-left">
				<div  class="page-inner full-height">
					<div class="close-btn"><span>X</span></div>
					<section class="container-fluid about-sec">
						<div class="row">
							<div class="col-sm-6 padding-zero about-img-wrap">
								<div class="about-img"></div>
							</div>
							<div class="col-sm-6 about-content-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad-sm sec-pad-xs">
								<div class="table-wrap">
									<div class="tablecell">
										<h6>INTRODUCCIÓN</h6>
										<h2>Creemos en soluciones tecnológicas centradas en el cliente.</h2>
										<p class="margin-bottom-20">Actulisat se enfoca en ayudar a las pequeñas y medianas empresas a través de soluciones de software que permiten la sistematización de sus procesos administrativos y contables en tiempo real, generando valor a largo plazo.</p>
										<p>Con un equipo multidisciplinario comprometido, nos aseguramos de ofrecer las mejores soluciones tecnológicas alineadas con los objetivos estratégicos de nuestros clientes.</p>
									</div>	
								</div>	
							</div>
						</div>	
						
						<div class="row">
						
							<!--Services-->
							<div class="services-item slide-1 odd">
								<div class="service-item-wrap">
									<span class="icon pe-7s-light"></span>
									<h4>Desarrollo de Software</h4>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h4>Desarrollo de Software</h4>
											<p>Diseñamos y desarrollamos soluciones tecnológicas a medida que ayudan a las pequeñas y medianas empresas a mejorar su eficiencia operativa mediante la automatización de procesos administrativos y contables.</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-light.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item slide-2 even">
								<div class="service-item-wrap">
									<span class="icon pe-7s-monitor"></span>
									<h4>Consultoría de Procesos</h4>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h4>Consultoría de Procesos</h4>
											<p>Ofrecemos consultoría estratégica para pequeñas y medianas empresas, ayudándolas a alinear sus procesos operativos con sus objetivos a mediano y largo plazo.</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-light.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>
							<div class="services-item slide-3 odd">
								<div class="service-item-wrap">
									<span class="icon pe-7s-look"></span>
									<h4>Sistemas Administrativos</h4>
									<div class="expand-content">
										<div class="excont opacity-hide">
											<h4>Sistemas Administrativos</h4>
											<p>Desarrollamos sistemas administrativos que permiten gestionar procesos contables, financieros y operativos de forma eficiente y en tiempo real.</p>
										</div>	
									</div>
									<div class="toggle-expand">
										<span class="plus">
											<img src="img/plus-light.png" alt="control"/>
										</span>
										<span class="minus opacity-hide">
											<img src="img/minus-dark.png" alt="control"/>
										</span>
									</div>
								</div>	
								<div class="service-item-overlay"></div>
							</div>							
							<!--/Services-->
							
						</div>	
					</section>
					<div class="trans-overlay-dark-about"></div>
				</div>		
			</div>
			<!--/About Section-->
			
			<!--Contact Section-->
			<div class="page page-right">
				<div  class="page-inner full-height">
					<div class="close-btn"><span>X</span></div>
					
					<!--Contact Sec-->
					<section class="col-lg-12 padding-zero contact-sec">
						
						<div class="col-md-6 contact-sec-wrap padding-left-75 padding-right-75 padding-left-sm-40 padding-right-sm-40 sec-pad sec-pad-sm sec-pad-xs">
							<div class="table-wrap">
								<div class="tablecell">
									<div  data-ng-controller="ContactController">
										<h2 class="margin-bottom-50">¡Hola&nbsp;<i><span  data-ng-bind="formData.inputName || ',desde aquí'">,desde aquí</span></i>, estamos felices de escucharte.</h2>
										<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="form-horizontal" role="form">
																	
											<!--Contact Form-->
											<div class="contact-form-wrap">
												<div class="row">
													<div class="col-sm-6 form-group margin-bottom-30" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
														<div class="input-wrap">
															<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input " id="inputName" name="inputName" placeholder="Name*" required>
														</div>	
													</div>
													<div class="col-sm-6 form-group margin-bottom-30" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
														<div class="input-wrap">
															<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field " placeholder="Email*" id="inputEmail" name="inputEmail" required>
														</div>	
													</div>	
													<div class="col-sm-12 form-group margin-bottom-30 " data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
														<div class="input-wrap">
															<textarea data-ng-model="formData.inputMessage" class="form-control input input__field " rows="4" id="inputMessage" name="inputMessage" placeholder="Message*" required></textarea>
														</div>	
													</div>	
													<div class="form-group col-sm-12 col-xs-12 margin-bottom-10">
														<div class="align-center">
															<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
															<span class="mask"></span>
															<span>enviar mensaje</span>
															</button>
														</div>
													</div>
												</div>	
												<span class="instr">* Todos los campos son obligatorios</span>
												<p class="form-msg margin-top-10" data-ng-class="result">{{ resultMessage }}</p>
												<div class="address-details margin-top-50">
													<div class="row">
														<div class="col-sm-4  margin-bottom-xs-50">
															<span class="icon pe-7s-map-marker"></span>
															<span class="add-tag margin-top-10">Visitanos</span>
															<p class="add-detail margin-top-20">201 A 25th street, New York</p>
														</div>
														<div class="col-sm-4 margin-bottom-xs-50">
															<span class="icon pe-7s-phone"></span>
															<span class="add-tag margin-top-10">Telefono</span>
															<a href="callto:954788315970" target="_blank" class="add-detail margin-top-20">+95(478)831-5970</a>
														</div>
														<div class="col-sm-4">
															<span class="icon pe-7s-mail-open-file"></span>
															<span class="add-tag margin-top-10">email</span>
															<a href="mailto:contact@hencework.com" target="_blank" class="add-detail margin-top-20">contact@hencework.com</a>
														</div>
													</div>
												</div>
											</div>
											<!--/Contact Form-->
											
										</form>
									</div>
								</div>	
							</div>	
						</div>
						
						<!--Map Sec-->
						<div class="col-md-6 padding-zero map-sec-wrap fullpage-height">
							<div id="map_canvas"></div>
						</div>
						<!--/Map Sec-->
						
					</section>
					<!--/Contact Sec-->
					
					<div class="trans-overlay-dark-contact"></div>	
				</div>
			</div>
			<!--/Contact Section-->
			
		</div>
		<!-- /Splitlayout -->
		
		<!--Notify Popup-->
		<div class="md-modal md-effect-2" id="modal-2">
			<div class="md-content notify-cmpt notify-form-type-3">
				<div class="md-content-wrap notify-wrap">
					<div class="md-close" id="notify_close"><span>X</span></div>
					<h2>¡Hola! Estamos felices de saber de ti.</h2>
					<p class="margin-top-xs-20">Si tienes alguna pregunta o deseas conocer más sobre cómo nuestras soluciones pueden ayudarte, no dudes en contactarnos.</p>
					<form id="notifyMe" class="contact-form" action="notify-me.php" method="post">
						<div class="input-wrap">
							<input  data-ng-model="notify" class="col-lg-10  align-center form-control input notify-input-box" name="email" placeholder="Your Email ID"  type="email">
							<div class="clearfix"></div>
							<button type="submit"  class="btn btn-default progress-button btn-submit align-center">
								Notificarme
								<span class="mask"></span>
							</button>
						</div>	
					</form>
				</div>
				<div class="md-opac"></div>
			</div>
		</div>
		<div class="md-overlay"></div>
		<!--/Notify Popup-->
			
		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/jquery.lettering.js"></script>
		<script src="js/jquery.textillate.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/modelclassie.js"></script>
		<script src="js/modalEffects.js"></script>
		<script src="js/particles.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxXt2P7-U38bK0xEFIT-ebZJ1ngK8wjww"></script>
		<script src="js/init.js"></script>
	</body>
</html>
